<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/styles/mystyle.css">
        <link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.  5/jquery.mCustomScrollbar.min.css">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src = "/assets/js/admin.js"></script>
	</head>
	<body>
		<div class="text-center">
			<h1 class="header">Admin</h1>
		</div>
		<!--menu starts-->
		<div class="text-center">
            <a href="/Admin" class="btn btn-primary">Dashboard</a>
            <a href="/admin/blogs" class="btn btn-warning">Blogs</a>
			<a href="/admin/allcars" class="btn btn-warning">All Cars</a>
			<a href="/admin/addnewcar" class="btn btn-danger">Add Car</a>
			<a href="/admin/allusers" class="btn btn-warning">All Users</a>
            <a href="/admin/addnewadmin" class="btn btn-info">Add New Admin</a>
            <a href="/admin/renthistory" class="btn btn-info">See Rent History</a>
            <a href="/admin/profile" class="btn btn-info">Profile</a>
			<a href="/logout" class="btn btn-danger">Logout</a>
        </div>
        
        <div class="center">
            <div class="form-group">
                <label>Select User type</label>
                <select id="users" name="users" class="form-control">
					<option value="*">All</option>
					<option value="0">Admin</option>
					<option value="1">Users</option>
                </select>

            <h3 class="text">All Users</h3>
            <table class="table table-striped">
                <thead>
                    <td>ID</td>
                    <td>Name</td>
                    <td>User Name</td>
                    <td>Contact No</td>
                    <td>Address</td>
                    <td>Type</td>
                    <td></td>
                </thead>
                <tbody id="tbody">
                    <% 
                        users.forEach( function(std){ %>
                            <tr>
                                <td><%= std.id %></td>
                                <td><%= std.name %></td>
                                <td><%= std.username %></td>
                                <td><%= std.contactno %></td>
                                <td><%= std.address %></td>
                                <% if(std.type == 0){%>
                                    <td>Admin</td>
                                <%}
                                else{%>
                                    <td>User</td>
                                    <td>
                                        <a href="/admin/deleteuser/<%= std.id %>" class="btn btn-danger">Delete</a>
                                    </td>
                                <%}%>
                            </tr>
        
                    <%
                        }); 
                    %>
                </tbody>
            </table>
        </div>   
	</body>
</html>