<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/styles/mystyle.css">
	</head>
	<body>
		<div class="text-center">
			<h1 class="header">Admin</h1>
		</div>
		<!--menu starts-->
		<div class="text-center">
            <a href="/Admin" class="btn btn-primary">Dashboard</a>
            <a href="/admin/blogs" class="btn btn-warning">Blogs</a>
			<a href="/admin/allcars" class="btn btn-warning">All Cars</a>
			<a href="/admin/addnewcar" class="btn btn-danger">Add Car</a>
			<a href="/admin/allusers" class="btn btn-warning">All Users</a>
            <a href="/admin/addnewadmin" class="btn btn-info">Add New Admin</a>
            <a href="/admin/renthistory" class="btn btn-info">See Rent History</a>
            <a href="/admin/profile" class="btn btn-info">Profile</a>
			<a href="/logout" class="btn btn-danger">Logout</a>
		</div><br>
        <!--menu ends-->
        
        <div class="col-md-12" id="blogs">
            <% 
                blogs.forEach( function(blog){ %>
                    <div class='card-product col-md-2'>
                            <label class="header"><%= blog.title%></label>
                            <br class="text"><%= blog.description %></>
                        <div class="price-label"><span ><b><%= blog.name %></b></span></div>
                        <div class="btn btn-success"><span ><b><%= blog.ud %></b></span></div>
                        <a href="/admin/allusers"><div class="add-to-cart"><class class="btn btn-warning" style="width:185px;font-family:consolas;margin-top:5px;">View User</class></span></div></a>
                        <a href="/admin/deleteblog/<%= blog.bid%>"><div class="add-to-cart"><class class="btn btn-danger" style="width:185px;font-family:consolas;margin-top:5px;">Delete Blog</class></span></div></a>
                    </div> 
            <%
                }); 
            %>
            
        </div>

	</body>
</html>