<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/styles/mystyle.css">
	</head>
	<body>
		<div class="text-center">
			<h1 class="header">User</h1>
		</div>
		<!--menu starts-->
		<div class="text-center">
            <a href="/user" class="btn btn-primary">Dashboard</a>
            <a href="/user/blogs" class="btn btn-warning">Blogs</a>
            <a href="/user/renthistory" class="btn btn-info">See Rental History</a>
            <a href="/user/profile" class="btn btn-info">Profile</a>
			<a href="/logout" class="btn btn-danger">Logout</a>
		</div>
		<div class="center">
            <h1 class="text text-center">Finalize The Car</h1>
            <form method="post" class="form-horizontal form-material">
                <div class="center">
                    <img class="card-image" src="<%=image%>">
                    <h4 class="text"><strong>type :</strong><%= type %> </h4>
                    <h4 class="text"><strong>Name : </strong><%= name %> </h4>
                    <h4 class="text"><strong>Rent (per Day):</strong><%= rentprice %> </h4>
                    <input type="number" name="rentprice" value="<%= rentprice%>" hidden/>
                    <h4 class="text"><strong>Description: </strong><%= description %> </h4>
                    <select class="text" name="paymethod" required>
                        <option value="" hidden>Select Payment Method</option>
                        <option value="0">Cash On Arrival</option>
                        <option value="1">Bkash</option>
                        <option value="2">Rocket</option>
                        <option value="3">Dutch Bangla Bank</option>
                    </select>
                </div>
                <div class="form-group text-center">
                    <a href="/user" class="btn btn-warning" value="Cancel">Cancel</a>
                    <input type="submit" name="rentThecar" class="btn btn-success" value="Finalize" class="form-control">
                </div>
            </form>		
	</body>
</html>